{% extends 'maneeger/base.html' %}

{% block content %}
<div class="container-fluid mt-4">
<div class="row">
    <div class="col-lg-12">
        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <table class="table table-active table-hover">
                    <h4 class="display-4 text-center bg-info text-white">Avalable Rooms</h4>
                    <tr class="bg-info text-white">
                        <th>Room No.</th>
                        <th>Category</th>
                        <th>Rant</th>
                        <th>Action</th>
                    </tr>
                    {% for foo in avalableroom %}
                    <tr>
                        <td>{{ foo.room_id }}</td>
                        <td>{{ foo.category.title }}</td>
                        <td>{{ foo.category.rant }}/Day</td>
                        <td><a href="{% url 'checkinuser' foo.room_id %}" class="btn btn-success btn-sm" style="border-radius:20px">Checkin</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}