<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#006266";>
    <a href="{% url 'dashaboard' %}" class="navbar-brand ml-3">HOTEL Management System</a>

</nav>

<style>
    #sidebar{
        height:90vh;
        overflow:auto;
    }
    a.list-group-item-action:hover{
        background-color: cadetblue !important;
        color: white;
    }
    #sidebar::-webkit-scrollbar{
        display:none;
    }
    #sidebar:hover::-webkit-scrollbar{
        display: block;
        width:0.5rem;
    }
    #sidebar:hover::-webkit-scrollbar-track{
         background-color: #ececf6;
    }
    #sidebar:hover::-webkit-scrollbar-thumb{
       background-color: #6c757d;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }

</style>


<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-lg-3" style="height:90vh;overflow:auto;" id="sidebar">
            {% block sidebar %}
           <div class="card border-0 shadow-sm">
               <div class="card-body m-0 p-0">
                    <div class="list-group list-group-flush" id="list_hover">
                        <a href="{% url 'dashaboard' %}" class="list-group list-group-item list-group-item-action border-bottom-0 border-top-0 active"><i class="fas fa-layer-group mr-2 text-warning"></i> Dashaboard</a>
                        <a href="{% url 'avalablerooms' %}" class="list-group list-group-item list-group-item-action border-bottom-0 border-top-0"><i class="fas fa-door-open mr-1 text-info"></i> Avalable Rooms</a>
                        <a href="{% url 'rantedroom' %}" class="list-group list-group-item list-group-item-action border-bottom-0 border-top-0"><i class="fas fa-door-closed mr-1 text-danger"></i> Ranted Rooms</a>
                        <a href="{% url 'add_category' %}" class="list-group list-group-item list-group-item-action border-bottom-0 border-top-0"><i class="fas fa-file-import mr-2 text-success"></i>Add Room's Category</a>
                        <a href="{% url 'add_room' %}" class="list-group list-group-item list-group-item-action border-bottom-0 border-top-0"><i class="fas fa-plus mr-1 text-warning"></i> Add Room</a>
                        <a href="{% url 'add_emplyee_category' %}" class="list-group list-group-item list-group-item-action border-bottom-0 border-top-0"><i class="fas fa-plus mr-1 text-primary"></i> Add Emplyee Category</a>
                        <a href="{% url 'add_emplyee' %}" class="list-group list-group-item list-group-item-action border-bottom-0 border-top-0" ><i class="fas fa-user-plus mr-1 text-secondary"></i> Add Emplyee</a>
                        <a href="{% url 'all_room' %}" class="list-group list-group-item list-group-item-action border-bottom-0 border-top-0" ><i class="fas fa-sync-alt mr-1 text-dark"></i> All Rooms</a>
                        <a href="{% url 'all_current_emplyee' %}" class="list-group list-group-item list-group-item-action border-bottom-0 border-top-0"><i class="fas fa-anchor mr-1 text-info"></i> All Current Emplyee</a>
                        <a href="{% url 'all_category' %}" class="list-group list-group-item list-group-item-action border-bottom-0 border-top-0"> <i class="fas fa-layer-group mr-1 text-success"></i> All Rooms's Category</a>
                        <a href="{% url 'checkout_user_details' %}" class="list-group list-group-item list-group-item-action border-bottom-0 border-top-0"><i class="fas fa-file mr-1 text-secondary"></i> All Rooms Records</a>
                        <a href="{% url 'all_emplyee_record' %}" class="list-group list-group-item list-group-item-action border-bottom-0 border-top-0"><i class="fas fa-file mr-1 text-primary"></i> All Emaplyee Records</a>
                        <a href="{% url 'logout' %}" class="list-group list-group-item list-group-item-action border-bottom-0 border-top-0"><i class="fas fa-power-off mr-1 text-danger"></i> Logout</a>
                    </div>
               </div>
           </div>
            {% endblock %}
        </div>
     <div class="col-lg-9">
        {% block content %}

        {% endblock %}
     </div>
    </div>
</div>






</body>
</html>